.product-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.product {
    width: 350px;
    height: 350px;
    border: 1px solid lightgray;
    padding: 20px ;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(231, 231, 231, 0.47);
}

/* From Uiverse.io by satyamchaudharydev */ 
button {
  --primary-color: #dcdce5;
  --secondary-color: #ffffff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 20px;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color: rgb(148, 148, 148);
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    margin-top: 15px;
}